<section>
  <h1 class="text-center">Get Ready for the Day!</h3>
  <h2 class="text-center">Know Your Tools</h2>
  <div class="container">
    <div class="col-lg-4 text-center">
      <div class="thumbnail">
        <img src="https://d13yacurqjgara.cloudfront.net/users/455169/screenshots/2228635/atom-icon3_sm.png" alt="Atom">
        <h4 class="card-title">Atom</h4>
        <a href="https://atom.io" class="btn btn-primary">Download</a>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <div class="thumbnail">
        <img src="http://uptitud.com.ar/wp-content/uploads/2012/03/chrome.jpg" alt="Chrome">
        <h4 class="card-title">Chome</h4>
        <a href="https://www.google.com/chrome/" class="btn btn-primary">Download</a>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <div class="thumbnail">
        <img src="https://a.slack-edge.com/0180/img/icons/app-256.png" alt="Slack">
        <h4 class="card-title">Slack</h4>
        <a href="https://slack.com" class="btn btn-primary">Download</a>
      </div>
    </div>
  </div>
</section>
