<section>
  <nav class="navbar navbar-default no-bgcolor no-border">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Join TOC",  attend_path, class: "btn btn-lg btn-default navbar-btn toc-btn center-block" %></li>
      <li><%= link_to "InCompany",  incompany_path, class: "btn btn-lg btn-default navbar-btn toc-btn center-block" %></li>
      <li><%= link_to "Host TOC",  sponsor_path, class: "btn btn-lg btn-default navbar-btn toc-btn center-block" %></li>
    </ul>
  </nav>
</section>
