<div class="subscribe-pitch">
     <h2>Subscribe</h2>

   </div>
   <form action="index.html" method="post" class="subscribe-form">
     <input type="first_name" name="first_name" class="subscribe-input" placeholder="First Name" autofocus>
     <input type="email" name="email" class="subscribe-input" placeholder="Email address" autofocus>
     <input type="email" name="email" class="subscribe-input" placeholder="Email address" autofocus>
     <button type="submit" class="subscribe-submit">Subscribe</button>
   </form>
