<section>
  <h1 class="text-center">
    What You Will Learn
  </h1>
  <h2 class="text-center">
    Professional developer technologies
  </h2>
  <div class="container">
    <div class="col-lg-4 text-center">
      <div class="thumbnail">
        <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" class="thumbnail" alt="#">
      </div>
      <p>HTML. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-lg-4 text-center">
      <div class="thumbnail">
        <img src="http://w3widgets.com/responsive-slider/img/css3.png" class="thumbnail" alt="#">
      </div>
      <p>CSS. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-lg-4 text-center">
      <div class="thumbnail">
        <img src="https://www.javacodegeeks.com/wp-content/uploads/2016/01/javascript-shield.png" class="thumbnail" alt="#">
      </div>
      <p>JavaScript. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
    </div>
  </div>
</section>
