<hr style="margin: 30px 0;">
  <!-- First Featurette -->
<div class="row" >

</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Get Ready for the Day!</h3>
    <p class="text-center">Know Your Tools </p>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail">
          <img src="https://d13yacurqjgara.cloudfront.net/users/455169/screenshots/2228635/atom-icon3_sm.png" alt="Atom">
          <h4 class="card-title">Atom</h4>
          <a href="https://atom.io" class="btn btn-primary">Download</a>
        </div>

        <div class="thumbnail">
          <img src="http://uptitud.com.ar/wp-content/uploads/2012/03/chrome.jpg" alt="Chrome">
          <h4 class="card-title">Chome</h4>
          <a href="https://www.google.com/chrome/" class="btn btn-primary">Download</a>
        </div>

        <div class="thumbnail">
          <img src="https://a.slack-edge.com/0180/img/icons/app-256.png" alt="Slack">
          <h4 class="card-title">Slack</h4>
          <a href="https://slack.com" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
