<body>
    <div class="home-background">
        <div class="cent">
            <div class="container jumbotron">
                <h1>Taste of Code</h1>
                <h2>Beginner Coding Workshop</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <%= link_to "Join TCO",  attend_path, class: "btn btn-lg btn-default center-block" %>
                    </div>
                    <div class="col-md-4">
                        <%= link_to "InCompany",  incompany_path, class: "btn btn-lg btn-default center-block" %>
                    </div>
                    <div class="col-md-4">
                        <%= link_to "Host TOC",  sponsor_path, class: "btn btn-lg btn-default center-block" %>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <footer>
                    <p>&copy; 2017 Koalas, Inc.</p>
                </footer>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
