 //
 // *= require_tree
 // *= require_self
 //
@import "bootstrap-sprockets";
@import "bootstrap";

h2 {
  color: #4b4d5e
}

h4 {
  color: #828493
}

.thumbnail {
  border: 0;
}

.thumbnail img {
  height: 250px;
}
