// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  color: #4b4d5e
}
h4 {
  color: #828493
}
img {
  height: 300px;
  width: 300px;
  border-radius: 25px;
  padding: 20px;
}
.btn {
  color: white;
}
